body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgray;
}

.heading {
  display: flex;
  background-color: #111827;
  align-items: center;
  padding: 2.5rem 0 2.5rem 0;
}

.heading-text {
  margin-left: auto;
  margin-right: auto;
  max-width: 28rem;
  width: 100%;
}
.heading-text h1 {
  color: #fff;
  text-align: center;
  font-weight: 700;
  margin-bottom: 1.25rem;
}

.search-field {
  display: flex;
}

.search {
  background-color: #f9fafb;
  border: 1px solid #d1d5db;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 100%;
  text-indent: 0.5rem;
  padding: 0.625rem;
  outline: 2px solid transparent;
  outline-offset: 2px;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.search:focus {
  border-color: rgb(59, 130, 246);
  box-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width))
    var(--tw-ring-color);
}

.search-btn {
  background-color: #2563eb;
  padding: 0.625rem 1.5rem;
  color: #fff;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.search-btn:focus {
  box-shadow: 1px solid rgb(147, 197, 253);
}

.search-btn:disabled {
  background-color: #9ca3af;
}

h1 {
  font-weight: bold;
  margin-top: 10px;
  color: #000;
  text-transform: capitalize;
  font-size: 50px;
}

#images {
  max-width: 100%;
  height: 200px;
  width: 500px;
  border-radius: 20px;
}

.loading {
  text-align: center;
  font-size: 50px;
}

.second-heading {
  text-align: center;
  margin-top: 1.5rem;
  text-decoration: underline;
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
}

.main {
  padding: 50px 100px 0 100px;
}

.img {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 50px;
}

.card {
  border-radius: 20px;
  display: grid;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
}

.card:hover {
  height: 400px;
  background-color: #111827;
  opacity: 1;
  color: #fff;
}

.profile-img {
  height: 70px;
  width: 70px;
  border-radius: 50px;
  padding-top: 15px;
}

.details {
  display: flex;
  justify-content: start;
  align-items: center;
}

.details:hover {
  color: #fff;
}
.user-details {
  list-style-type: none;
}

.user-details:hover {
  color: #fff;
}

.user-name {
  font-weight: bold;
}

.insta {
  text-align: right;
}

.card:hover .insta a {
  display: none;
}

.insta a {
  color: lightgray;
}

.insta-btn {
  border-radius: 10px;
  background-image: linear-gradient(
    to bottom left,
    #4f5bd5,
    #962fbf,
    #d62976,
    #fa7e1e,
    #feda75
  );
  display: none;
}

.insta-btn a {
  color: #fff;
  font-family: sans-serif;
  font-size: 20px;

  font-weight: bold;
  text-decoration: none;
}

.card:hover .insta-btn {
  display: inline;
}

.animate {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

  @keyframes pulse {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
}

.animate-div {
  background-color: #d1d5db;
  border-radius: 0.5rem; /* 8px */
  height: 1.75rem;
}
